<h3>Click and drag</h3>
<h2 id="score">Items selected: <span>0</span> </h2>
<div id="grid">
  <div class="ghost-select"><span></span></div>
</div>

<div id="square" class="elements"></div>

<div id="ball" class="elements"></div>
